/* Empty. Add your own CSS if you like */
.scroll{
	height: 100%;
}
.btn {background-color: #0D47A1; color: #fff; border: 0; padding: 2px 5px;}

.bg-red, .cat_1 {background-color: #B71C1C ;}
.bg-green, .cat_2 {background-color: #4CAF50;}
.bg-blue, .cat_3 {background-color: #0091EA;}
.bg-yellow, .cat_4 {background-color: #FF9800;}
.bg-dblue, .cat_5{background-color: #01579b;}
.bg-grey, .cat_6 {background-color: #757575;}
.bg-brown, .cat_7 {background-color: #795548;}

.cat_1_border {border-top: 3px solid #B71C1C ; background-color: #f8e8e8;}
.cat_2_border {border-top: 3px solid #4CAF50; background-color: #edf7ed;}
.cat_3_border {border-top: 3px solid #0091EA; background-color: #e5f4fd;}
.cat_4_border {border-top: 3px solid #FF9800; background-color: #fff4e5;}
.cat_5_border{border-top: 3px solid #01579b; background-color: #e5eef5;}
.cat_6_border {border-top: 3px solid #757575; background-color: #f1f1f1;}
.cat_7_border {border-top: 3px solid #795548; background-color: #f1eeec;}
.link_cat_all {position: relative;}

